<div class="container text-center">    
    <div class="containerPersonalize" align="center">           
        <div class="capture">
            <img src="../../../assets/images/landing1.png" alt="">               
        </div>
        <div class="info">
            <h1>La aplicación con la <br> que podrás compartir <br> más que piso</h1>
            <div class="text-info">
                <p>Crea grupos</p>
                <p>Administra los gastos de la casa</p>
                <p>Plan de limpieza equitativo</p>
                <p>Crea tu lista de la compra</p>
            </div>
            <img src="../../../assets/images/googlePlay.png" style="width: 202px; height: 59px;" align="left" alt="">
        </div>
    </div>
    <div class="containerPersonalize" style="padding-top: 150px;" align="center">
        <div class="info2" data-aos-offset="200" data-aos="slide-down">
            <h1>Plan de limpieza <br> equitativo para todos <br> los miembros</h1>
            <div class="text-info">
                <p>Introduce las tareas que consideres</p>
                <p>Se define claramente el plan de limpieza</p>
                <p>Se pueden eliminar tareas facilmente</p>
                <p>Se acabó discutir por las tareas del hogar</p>
            </div>
        </div>
        <div class="capture2" data-aos-offset="200"  data-aos="slide-down">
            <img src="../../../assets/images/landing2.png" alt="">              
        </div>
    </div>
    <div class="containerPersonalize" style="padding-top: 150px; padding-bottom: 150px;" align="center">
        <div class="capture"  data-aos-offset="200" data-aos="slide-down">
            <img src="../../../assets/images/landing3.png" alt="">             
        </div>
        <div class="info"  data-aos-offset="200" data-aos="slide-down">
            <h1>Haz tu lista <br> de la compra</h1>
            <div class="text-info">
                <p>Crea tu lista de la compra</p>
                <p>Elimina astículos comprados de la lista</p>
                <p>Liquida las compras directamente</p>
                <p>Divide de manera justa</p>
            </div>
        </div>
    </div>
</div>

