<div class="container py-5">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-12 col-md-8 col-lg-8 p-0">
      <div class="card card-login text-black shadow-lg rounded">
        <div class="card-body text-center">
          <div class="mb-5 mt-1 pb-2" *ngIf="!this.noTasks">
            <p class="card-text">Tareitas</p>
            <table class="table ">

              <tbody>
                <tr *ngFor="let task of this.tasksList; let indexOfTask=index;" class="">
                  <td>
                    <input class="checkbox" type="checkbox" value="{{indexOfTask}}" [(ngModel)] = "task.checked" (change)="onCheckboxChanged($event)" >
                  </td>
                  <td class="text-left">
                    <span class="d-block ">{{task.taskName}}</span>
                    <span class="d-block ">{{task.id}}</span>
                    <span style="font-size: 0.8rem">Esther</span>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div style="margin-right: 5%;">
                      <app-task-modal [isEditting]="this.isEditting" [taskFromChild]="task"></app-task-modal>
                    </div>
                    <img src="../../../assets/svg/blueTrash.svg" style="margin-right: 5%;"
                      (click)="deleteTask(task.id)" />
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td class="d-flex justify-content-end">
                    <app-task-modal [isCreating]="this.isCreating" ></app-task-modal>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="mb-5 mt-1 pb-2" *ngIf="this.noTasks">
          <p>Aún no tienes tareas
            <br>
            Añade una tarea
          </p>
          <app-task-modal [isCreating]="this.isCreating"></app-task-modal>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
