<div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-8 col-lg-8 p-0">
        <div class="card card-login text-black shadow-lg rounded">
          <div class="card-body text-center">
            <div class="mb-5 mt-1 pb-2" *ngIf="!this.noGroceries">
              <h2 class="card-text">Lista de la compra</h2>
              <table class="table ">
  
                <tbody>
                  
                  <tr>
                    <td></td>
                    <td></td>
                    <td class="d-flex justify-content-end">
                      <app-groceries-modal [isCreating]="this.isCreating"></app-groceries-modal>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="mb-5 mt-1 pb-2" *ngIf="this.noGroceries">
              <p>No hay atículos aún
                <br>
                Añade uno
              </p>
              <app-groceries-modal [isCreating]="this.isCreating"></app-groceries-modal>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  