.svg-icon {
    height: 20px;
    width: 18px;
    display: inline-block;
    filter: brightness(0) saturate(100%) invert(70%) sepia(98%) saturate(2447%) hue-rotate(169deg) brightness(91%) contrast(99%);
}