<a class="w3-bar-item w3-button add-button" (click)="openCreateGroup(content)" style="padding-left: 15px !important;" *ngIf="this.isCreating">
  <img src="../../../../assets/svg/add_circle.svg" class="svg-add" style=" width: 30px !important;" />
</a>

<a class="" (click)="openEditGroup(content)"  *ngIf="this.isEditing">
  <img src="../../../assets/svg/pencilEdit.svg" style="margin-top: 2px; margin-right: 4px;" class="svg-icon"
  alt="">
</a>



<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{this.isEditing ? 'Editar grupo' : 'Crear grupo' }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true"> × </span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="this.groupForm" (ngSubmit)="createGroup()">
      <div class="form-group">
        <label for="groupName"> Nombre del grupo * </label>
        <div class="input-group">
          <div class="input-group-text">
            <img src="../../../assets/svg/groupLogo.svg" class="svg-icon" alt="" />
          </div>
          <input id="groupName" class="form-control" placeholder="Nombre" formControlName="groupName" name="dp"
            [ngClass]="{
                'is-invalid':
                this.groupNameExists && this.sent
              }" />

          <!-- Validation -->
          <div class="invalid-feedback" *ngIf="this.groupForm.controls.groupName.errors?.required">
            ¡Tienes que rellenar este campo!
          </div>
          <div class="invalid-feedback" *ngIf="this.groupForm.controls.groupName.errors?.minlength">
            El mínimo son 3 caracteres
          </div>
          <div class="invalid-feedback" *ngIf="this.groupForm.controls.groupName.errors?.maxlength">
            El máximo son 20 caracteres
          </div>
          <div class="invalid-feedback" *ngIf="this.groupNameExists">
            El nombre de grupo ya existe
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="groupRelation"> Descripción del grupo * </label>
        <div class="input-group">
          <div class="input-group-text">
            <img src="../../../assets/svg/pencilEdit.svg" class="svg-icon" alt="" />
          </div>
          <textarea id="dateOfBirth" class="form-control" formControlName="groupRelation" placeholder="Descripción"
            name="dp" [ngClass]="{
                'is-invalid':
                !this.groupForm.valid && this.sent
              }"></textarea>
          <!--Validation-->
          <div class="invalid-feedback" *ngIf="this.groupForm.controls.groupRelation.errors?.required">
            ¡Tienes que rellenar este campo!
          </div>
          <div class="invalid-feedback" *ngIf="this.groupForm.controls.groupRelation.errors?.minlength">
            El mínimo son 3 caracteres
          </div>
          <div class="invalid-feedback" *ngIf="this.groupForm.controls.groupRelation.errors?.maxlength">
            El máximo son 100 caracteres
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn-sm border-0 p-2 m-2  dashboard-button center text-white" [ngClass]="{
            disabled: !this.groupForm.valid
          }" [disabled]="!this.groupForm.valid">
          <span class="spinner-border spinner-border-sm mr-1" *ngIf="isLoading"></span>Crear grupo</button>
      </div>
    </form>
  </div>

</ng-template>


