input, textarea {
  background-color: rgba(97, 212, 255, 0.2);
  font-size: 1.2rem;
  border: none;
}

input:focus, textarea:focus {
  background-color: rgba(97, 212, 255, 0.2);
  font-size: 1.2rem;
  border: none;
}

.svg-icon {
  height: 20px;
  width: 18px;
  display: inline-block;
  filter: brightness(0) saturate(100%) invert(55%) sepia(100%) saturate(684%) hue-rotate(169deg) brightness(93%) contrast(94%);

}

label {
  font-size: 16px;
}

.svg-add:hover, .add-button:hover .svg-add {
  filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(0%) hue-rotate(191deg) brightness(102%) contrast(105%);
}

.add-button:hover{
  background-color: var(--secondaryColor) !important;
}

.outline {
  border-color: var(--secondaryColor);
  color: var(--secondaryColor);
}

.outline:hover {
  color: var(--primaryColor);
  background-color: var(--secondaryColor);
}
