<div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-8 col-lg-6 p-0">
            <div class="card card-login text-black shadow-lg rounded">
                <div class="card-body text-center">
                    <div class="mb-5 mt-1 pb-2">
                        Esto es solo un ejemplo. TRANQUILOS/AS
                        <table class="table table-bordered table-dark">                                                        
                            <thead>
                                <tr>
                                    <th scope="col">Usuario</th>
                                    <th scope="col">Concepto</th>
                                    <th scope="col">Importe</th>
                                    <th scope="col">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Mark</td>
                                    <td>comida</td>
                                    <td>100</td>
                                    <td>Jacob</td>                                    
                                </tr>
                                <tr>
                                    <td>Jacob</td>
                                    <td>cerveza</td>
                                    <td>100</td>
                                    <td>luz</td>
                                </tr>
                                <tr>
                                    <td>Mark</td>
                                    <td>comida</td>
                                    <td>50</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td colspan="2">Larry the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
