<button type="button" class="btn formButton px-5 text-uppercase text-white" data-toggle="modal" data-target="#exampleModalCenter">
    Añadir artículo
</button>
  
  <!-- MODAL -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Debes de introducir un artículo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="">
              <label for="">Tipo de artículo</label>
              <select name="" id="">
                    <option value="tools">Herramientas</option>
                    <option value="food">Comida</option>
                    <option value="liquid">Líquido</option>
                    <option value="medicine">Medicina</option>
              </select>
              <label for="">Nombre del artículo</label>
              <input type="text">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" [ngClass]="{
                disabled: !this.newGroceryForm.valid
            }" [disabled]="!this.newGroceryForm.valid">
            {{this.isEditting ? 'Editar artículo' : 'Crear artículo' }} </button>
        </div>
      </div>
    </div>
  </div>
 
 