<img src="../../../assets/svg/blueTrash.svg" style="margin-right: 5%;" (click)="open(DeleteTask)" />
<ng-template #DeleteTask let-modal>
    <div class="justify-content-center align-items-center">
        <div class=" text-black shadow-lg rounded">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Eliminar tarea</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="modal.close('Cerrado desde la ventana')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body justify-content-center align-items-center">
                <h2>¿Estás seguro de que quieres eliminar esta tarea?</h2>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-info">
                    Eliminar </button>
            </div>
        </div>
    </div>
</ng-template>