<nav class="navbar navbar-expand-md navbar-dark">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link home" routerLink="/landing">Home</a>
      </li>

    </ul>
  </div>
  <div class="mx-auto order-0">
    <a class="navbar-brand mx-auto" [routerLink]="['/home']">HOMIES</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <button class="btn btn-outline-light my-2 my-sm-0" [routerLink]="['/login']"
          routerLinkActive="active">Login</button>
        <button class="btn btn-outline-light my-2 my-sm-0" [routerLink]="['/login']">Logout</button>
      </li>
      <li class="nav-item mx-2">
        <button class="btn btn-outline-light my-2 my-sm-0" [routerLink]="['/register']" routerLinkActive="active">Sign
          up</button>
      </li>
    </ul>
  </div>
</nav>

<section>
  <router-outlet></router-outlet>
</section>

