.navbar {
  background-color:var(--secondaryColor);
}

.footer {
  background-color: var(--secondaryColor);
  position: ;
}

.copyright {
  background-color: var(--secondaryDarkColor);
}

div .row {
  text-align: center;
  margin-left: auto;
}

h4 {
  padding-top: 10px;
  font-weight: bold;
}
