<div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-8 col-lg-6 p-0">
            <div class="card card-login text-black shadow-lg rounded">
                <div class="card-body text-center">
                    <div class="mb-5 mt-1 pb-2">
                        <img src="../../../assets/images/homies-logo.png" alt="" style="width: 150px"
                            class="m-5 rounded" />
                        <form [formGroup]="recoveryForm" (ngSubmit)="submitForm()" class="">
                            <div class="d-flex flex-column col-10 m-auto justify-content-center">
                                <p>Introduce el email con el que estás registrado</p>
                                <!--EMAIL-->
                                <div class="form-outline form-white mb-4">
                                    <div class="input-group">
                                        <!-- Icono Usuario -->
                                        <div class="input-group-text">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M3 4H21C21.2652 4 21.5196 4.10536 21.7071 4.29289C21.8946 4.48043 22 4.73478 22 5V19C22 19.2652 21.8946 19.5196 21.7071 19.7071C21.5196 19.8946 21.2652 20 21 20H3C2.73478 20 2.48043 19.8946 2.29289 19.7071C2.10536 19.5196 2 19.2652 2 19V5C2 4.73478 2.10536 4.48043 2.29289 4.29289C2.48043 4.10536 2.73478 4 3 4ZM20 8.238L12.072 14.338L4 8.216V18H20V8.238ZM4.511 6L12.061 11.662L19.502 6H4.511Z"
                                                    fill="#34ADE7" />
                                            </svg>
                                        </div>
                                        <input id="email" type="email" name="email" formControlName="email"
                                            class="fields form-control" placeholder="Email" [ngClass]="{
                                                'is-invalid':
                                                  this.sent && this.recoveryForm.controls.email.errors
                                              }"/>
                                        <!--Validation-->
                                        <div class="invalid-feedback" *ngIf="
                                        this.sent &&
                                        this.recoveryForm.controls.email.errors?.required
                                      ">
                                        ¡Tienes que rellenar este campo!
                                      </div> 
                                      <div class="invalid-feedback" *ngIf="
                                        this.sent &&
                                        this.recoveryForm.controls.email.errors?.email
                                      ">
                                        ¡Tienes que introducir un email!
                                      </div>
                                    </div>
                                </div>
                                <button type="submit" value="enviar"
                                    class="btn loginButton btn-lg px-5 text-uppercase mt-4 text-white">
                                    <span class="spinner-border spinner-border-sm mr-1" *ngIf="isLoading"></span>
                                    Enviar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>