<!-- SPINNER WHEN LOADING GROUPS -->

<div class="text-center mt-5 d-flex align-items-center justify-content-center " *ngIf="this.isLoading">
  <div class="spinner-border" style="width: 3rem; height: 3rem; color: #34ade7" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div> <!-- END SPINNER WHEN LOADING GROUPS -->

<!-- IF NO GROUPS -->

<div class="container text-center mt-5" *ngIf="!this.groupsExist && !this.isLoading">
  <img src="../../../assets/images/no-group.png" alt="">
  <div>
    <p class="h2">Aún no tienes ningún grupo</p>
    <app-group-creation></app-group-creation>
  </div>
</div> <!-- END IF NO GROUPS -->


<!-- DASHBOARD WITH INFO -->

<div class="d-flex card-container text-center container-xl" *ngIf="this.groupsExist  && !this.isLoading"
  style="padding-top: 5px;">

  <!-- DASHBOARD WITH LISTS -->
  <div class="card-columns card-columns-list ">
    <div class="card">
      <div class="card-body " *ngIf="!this.noTasks">
        <h5 class="card-title">TAREAS</h5>
        <p class="card-text">Resumen de tus tareas</p>
        <table class="table ">
          <tbody>
            <tr *ngFor="let task of this.userTasksModel; let indexOfTask=index;" class="text-left">
              <td>{{task.taskName}}</td>
            </tr>
            <tr>
              <td>
                <button class="btn outline mt-3" (click)="navigateToTasks()">Ir a la lista de tareas</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-body " *ngIf="this.noTasks">
        <h5 class="card-title">TAREAS</h5>
        <p class="card-text mt-4">No tienes tareas pendientes</p>
        <button class="btn outline mt-3" (click)="navigateToTasks()">Ir a la lista de tareas</button>
      </div>
    </div>

    <div class="card ">
      <div class="card-body">
        <h5 class="card-title">Compra</h5>
        <p class="card-text">Productos</p>
        <table class="table ">

          <tbody>
            <tr>
              <td>Plátanos</td>
            </tr>
            <tr>
              <td>Leche</td>
            </tr>
            <tr>
              <td>Fruta</td>
            </tr>
            <tr>
              <td>
                <button class="btn outline mt-3">Añadir tarea</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Compra</h5>
        <p class="card-text">Productos</p>
        <table class="table ">

          <tbody>
            <tr>
              <td>Plátanos</td>
            </tr>
            <tr>
              <td>Leche</td>
            </tr>
            <tr>
              <td>Fruta</td>
            </tr>
            <tr>
              <td>
                <button class="btn outline mt-3">Añadir tarea</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Compra</h5>
        <p class="card-text">Productos</p>
        <table class="table ">

          <tbody>
            <tr>
              <td>Plátanos</td>
            </tr>
            <tr>
              <td>Leche</td>
            </tr>
            <tr>
              <td>Fruta</td>
            </tr>
            <tr>
              <td>
                <button class="btn outline mt-3">Añadir tarea</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div> <!-- END OF DASHBOARD WITH LISTS -->


  <!-- DASHBOARD WITH GROUP INFO -->
  <div class="card-columns-group col-4">
    <div class="card">
      <div class="card-body">
        <div class="card-title p-2 rounded text-left group-info-background"
          style="height: 40px; align-content: center;">
          <img src="../../../assets/svg/groupHouseLogo.svg" class="svg-icon"
            style="float: left; width: 30px !important; height: 30px !important; margin-top: -3px;" alt="">
          <h5 style="float: right; width: 80%; margin-right: 20px;">{{this.groupName}}</h5>
        </div>
        <p class="card-title p-2 rounded text-left group-info-background">{{this.groupRelationName}}</p>

      </div>
    </div>

    <div class="card mt-3">
      <div class="text-center m-4 d-flex align-items-center justify-content-center " *ngIf="this.isLodingUsers">
        <div class="spinner-border" style="width: 3rem; height: 3rem; color: #34ade7" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="card-body" *ngIf="!this.isLodingUsers">
        <div class="d-flex " *ngFor="let user of this.groupUsersModel; let indexOfUser=index;">
          <div style="float: left; width: 20%;">
            <div><img *ngIf="this.groupUsersModel[indexOfUser].photo!=null"
                [src]="profilePictureImageDecoded(this.imgBase64 + this.groupUsersModel[indexOfUser].photo)" width="25"
                height="25" class="dot" alt="">
            </div>
            <span class="dot" *ngIf="this.groupUsersModel[indexOfUser].photo==null">
              <h2 class="initial center">
                {{ this.groupUsersModel[indexOfUser].firstName.charAt(0) }}{{  this.groupUsersModel[indexOfUser].lastName.charAt(0) }}
              </h2>
            </span>
          </div>
          <div class="card-title p-2 rounded text-left group-info-background"
            style="float: right; width: 80%; max-height: 40px; align-content: center;">
            <p style="float: left; width: 80%;">{{ this.groupUsersModel[indexOfUser].login}}</p>

            <div *ngIf="this.isAdmin">
              <img *ngIf="this.user.admin" [src]=" '../../../assets/svg/crown.svg'" class="svg-icon"
                style="float: right; width: 20px !important; height: 20px !important;" alt="">
              <img *ngIf="!this.user.admin" [src]=" '../../../assets/svg/delete.svg'" class="svg-icon"
                style="float: right; width: 20px !important; height: 20px !important;" alt=""
                (click)="deleteUserFromGroup(this.groupUsersModel[indexOfUser].login)">
            </div>
            <div *ngIf="!this.isAdmin && this.user.admin">
              <img src='../../../assets/svg/crown.svg' class="svg-icon"
                style="float: right; width: 20px !important; height: 20px !important;" alt="">
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="this.isAdmin">
        <app-user-add-group [idGroup]="this.groupID!" [idAdminGroup]="this.userID"></app-user-add-group>
      </div>
    </div>







    <div class="text-center">
      <button class="btn-lg border-0 text-white p-3 mt-3 delete-group " (click)="exitGroup()">
        Abandonar grupo
      </button>
      <button class="btn-lg border-0 text-white p-3 mt-3 delete-group " (click)="deleteGroup()"
        *ngIf="this.isAdmin">
        Eliminar grupo
      </button>
    </div>

  </div> <!-- END OF DASHBOARD WITH GROUP INFO -->
</div>
