@media (min-width: 576px) {
  .card-columns {
      column-count: 1;
  }
}

@media (min-width: 768px) {
  .card-columns {
      column-count: 2;
  }
}

@media (min-width: 992px) {
  .card-columns {
      column-count: 3;
  }
}

.group-info-background {
  background-color: rgba(97, 212, 255, 0.2);
  border: none;
  border-radius: 0 5px 5px 0;
}

