<div class="container py-5">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-12 col-md-8 col-lg-6 p-0">
      <div class="card card-login text-black shadow-lg rounded">
        <div class="card-body text-center">
          <div class="mb-md-1 mt-md-4 pb-2">
            <img
              src="../../../assets/images/homies-logo.png"
              alt=""
              style="width: 20%"
              class="mb-5 mt-1 rounded"
            />
            <form [formGroup]="registerForm" (ngSubmit)="submitRegister()">
              <div
                class="d-flex flex-column col-10 m-auto justify-content-center"
              >
                <!--NOMBRE-->
                <div class="form-outline form-white mb-4">
                  <div class="input-group">
                    <div class="input-group-text">
                      <i class="fa fa-vcard"></i>
                    </div>
                    <input
                      id="firstName"
                      type="text"
                      name="firstName"
                      formControlName="firstName"
                      class="fields form-control is-invalid normal-border"
                      placeholder="Nombre"
                      [ngClass]="{
                        'is-invalid':
                          this.sent &&
                          this.registerForm.controls.firstName.errors
                      }"
                    />
                    <!--Validation-->
                    <div
                      class="invalid-feedback"
                      *ngIf="
                        sent &&
                        this.registerForm.controls.firstName.errors?.required
                      "
                    >
                      ¡Tienes que rellenar este campo!
                    </div>
                  </div>
                </div>
                <!--APELLIDO-->
                <div class="form-outline form-white mb-4">
                  <div class="input-group">
                    <div class="input-group-text">
                      <i class="fa fa-vcard"></i>
                    </div>
                    <input
                      id="lastName"
                      type="text"
                      name="lastName"
                      formControlName="lastName"
                      class="fields form-control is-invalid normal-border"
                      placeholder="Apellido/s"
                      [ngClass]="{
                        'is-invalid':
                          this.sent &&
                          this.registerForm.controls.lastName.errors
                      }"
                    />
                    <!--Validation-->
                    <div
                      class="invalid-feedback"
                      *ngIf="
                        sent &&
                        this.registerForm.controls.lastName.errors?.required
                      "
                    >
                      ¡Tienes que rellenar este campo!
                    </div>
                  </div>
                </div>
                <!--USUARIO-->
                <div class="form-outline form-white mb-4">
                  <div class="input-group">
                    <!-- ICONO USUARIO -->
                    <div class="input-group-text">
                      <img src="../../../../assets/svg/username.svg" class="svg-icon" alt="">
                    </div>
                    <input
                      id="userName"
                      type="text"
                      name="userName"
                      formControlName="login"
                      class="fields form-control is-invalid normal-border"
                      placeholder="Usuario"
                      [ngClass]="{
                        'is-invalid':
                          this.sent && this.registerForm.controls.login.errors
                      }"
                    />
                    <!--Validation-->
                    <div
                      class="invalid-feedback"
                      *ngIf="
                        sent &&
                        this.registerForm.controls.login.errors?.required
                      "
                    >
                      ¡Tienes que rellenar este campo!
                    </div>
                  </div>
                </div>
                <!--EMAIL-->
                <div class="form-outline form-white mb-4">
                  <div class="input-group">
                    <!-- ICONO EMAIL -->
                    <div class="input-group-text">
                      <img src="../../../../assets/svg/email.svg" class="svg-icon" alt="">
                    </div>
                    <input
                      id="email"
                      type="email"
                      name="email"
                      formControlName="email"
                      class="fields form-control is-invalid normal-border"
                      placeholder="Email"
                      [ngClass]="{
                        'is-invalid':
                          this.sent && this.registerForm.controls.login.errors
                      }"
                    />
                    <!--Validation-->
                    <div
                      class="invalid-feedback"
                      *ngIf="
                        sent &&
                        this.registerForm.controls.email.errors?.required
                      "
                    >
                      ¡Tienes que rellenar este campo!
                    </div>
                    <div
                      class="invalid-feedback"
                      *ngIf="
                        sent && this.registerForm.controls.email.errors?.email
                      "
                    >
                      ¡Esto no es un email!
                    </div>
                  </div>
                </div>

                <!--PASSWORD-->
                <div class="form-outline mb-4">
                  <div class="input-group">
                    <!-- ICONO CANDADO -->
                    <div class="input-group-text">
                      <img src="../../../../assets/svg/password.svg" class="svg-icon" alt="">
                    </div>
                    <input
                      id="pass"
                      type="password"
                      name="pass"
                      formControlName="password"
                      placeholder="Contraseña"
                      [type]="showPassword ? 'text' : 'password'"
                      class="fields form-control password-field is-invalid"
                      [ngClass]="{
                        'is-invalid':
                          this.sent &&
                          this.registerForm.controls.password.errors
                      }"
                    />
                    <!-- ICONO NO SEE -->
                    <div class="input-group-text no-see">
                      <img src="../../../../assets/svg/eye-off.svg" class="svg-icon eye-off" (click)="showPass()"
                      *ngIf="!this.showPassword" alt="">
                      <img src="../../../../assets/svg/eye.svg" class="svg-icon eye" (click)="showPass()"
                      *ngIf="this.showPassword" alt="">
                    </div>
                    <!--Validation-->
                    <div
                      class="invalid-feedback"
                      *ngIf="
                        sent &&
                        this.registerForm.controls.password.errors?.required
                      "
                    >
                      ¡Tienes que rellenar este campo!
                    </div>
                    <div
                      class="invalid-feedback"
                      *ngIf="
                        sent &&
                        this.registerForm.controls.password.errors?.minlength
                      "
                    >
                      La contraseña debe tener al menos 8 caracteres
                    </div>
                  </div>
                </div>

                <!--PASSWORD CONFIRMATION-->
                <div class="form-outline mb-4">
                  <div class="input-group">
                    <!-- ICONO CANDADO -->
                    <div class="input-group-text">
                      <img src="../../../../assets/svg/password.svg" class="svg-icon" alt="">
                    </div>
                    <input
                      id="passConfirm"
                      type="password"
                      name="passConfirm"
                      formControlName="passConfirm"
                      class="fields form-control password-field is-invalid"
                      placeholder="Repetir contraseña"
                      [type]="showPassword ? 'text' : 'password'"
                      [ngClass]="{
                        'is-invalid':
                          this.sent &&
                          this.registerForm.controls.passConfirm.errors?.required || registerForm.errors?.noMatch
                      }"
                    />
                    <!-- ICONO NO SEE -->
                    <div class="input-group-text no-see">
                      <img src="../../../../assets/svg/eye-off.svg" class="svg-icon eye-off" (click)="showPass()"
                      *ngIf="!this.showPassword" alt="">
                      <img src="../../../../assets/svg/eye.svg" class="svg-icon eye" (click)="showPass()"
                      *ngIf="this.showPassword" alt="">
                    </div>
                    <div class="invalid-feedback" *ngIf="
                      this.sent &&
                      this.registerForm.controls.passConfirm.errors?.required
                    ">
                      ¡Tienes que rellenar este campo!
                    </div>
                    <div
                      class="invalid-feedback"
                      *ngIf="this.sent && registerForm.errors?.noMatch"
                    >
                      Las contraseñas no coinciden
                    </div>
                  </div>
                  <!--Validation-->
                </div>
              </div>
              <button
                class="btn formButton btn-lg px-5 text-uppercase mt-4 text-white"
                type="submit"
                value="enviar"
              >
              <span
                  class="spinner-border spinner-border-sm mr-1"
                  *ngIf="isLoading"
                ></span>
                REGISTRARSE
              </button>
              <div *ngIf="errorMsg" class="alert alert-danger text-center m-3">
                {{ errorMsg }}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
