
  input {
    background-color: rgba(97, 212, 255, 0.2);
    font-size: 1.2rem;
    border: none;
    border-radius: 0 5px 5px 0;
  }

  input:focus {
    background-color: rgba(97, 212, 255, 0.2);
    font-size: 1.2rem;
    border: none;
  }

  .svg-icon {
    height: 20px;
    width: 18px;
    display: inline-block;
    filter: invert(64%) sepia(13%) saturate(2576%) hue-rotate(163deg) brightness(93%) contrast(94%);
  }
  
  .eye-off {
    filter: invert(11%) sepia(18%) saturate(1673%) hue-rotate(44deg) brightness(103%) contrast(91%) !important;
    opacity: 0.3 !important;
    width: 24px !important;
  }
  
  .eye{
    height: 24px !important;
    width: 24px !important;
  }


