

<div class="area"></div>
<nav class="main-menu shadow-lg">
  <ul>
      <li style="margin: 0px !important; ">
          <a href="http://justinfarrow.com" style="margin-bottom: 20% !important; ">
              <i class="fa  fa-2x"><img src="../../../assets/svg/barsIconBlue.svg" class="svg-icon fa fa-laptop fa-2x" alt="" style=" width: 25px; margin-left: 30% !important; " ></i>
              <span class="nav-text">
                  Dashboard
              </span>
          </a>
        
      </li>
      <li class="has-subnav" style="margin: 0px !important; ">
          <a (click)="navigateToGroceries()">
              <i class="fa  fa-2x"><img src="../../../assets/svg/compraIconBlue.svg" class="svg-icon fa fa-laptop fa-2x" alt=""></i>
              <span class="nav-text">
                  Lista de la compra
              </span>
          </a>
          
      </li>
      <li class="has-subnav" style="margin: 0px !important; ">
          <a (click)="navigateToTasks()" >
             <i class="fa  fa-2x" ><img src="../../../assets/svg/tasksIconBlue.svg" class="svg-icon fa fa-laptop fa-2x" alt=""></i>
              <span class="nav-text">
                  Lista de tareas
              </span>
          </a>
          
      </li>
      <li class="has-subnav" style="margin: 0px !important; ">
          <a (click)="navigateToExpenses()">
             <i class="fa fa-2x"><img src="../../../assets/svg/expenseIconBlue.svg" class="svg-icon fa fa-laptop fa-2x" alt="" ></i>
              <span class="nav-text">
                  Lista de saldos
              </span>
          </a>
         
      </li>
     
  </ul>

  <ul class="logout">
      <li style="margin: 0px !important; ">
         <a href="#">
               <i class="fa fa-2x" style=" width: 25px; margin-left: 30% !important; "><app-group-creation ></app-group-creation></i>
              <span class="nav-text">
                  Añadir grupo
              </span>
          </a>
      </li>  
  </ul>
</nav>




<!--
  <div class="w3-sidebar w3-white w3-xxlarge" style="width: max-content">
  <ul class="nav nav-pills flex-column mb-auto">
    <div class="d-flex flex-column">
      <li>
        <a class=" w3-button w3-bar-item" data-toggle="collapse" href="#collapseExample" role="button"
          aria-expanded="false" aria-controls="collapseExample">
          <img src="../../../assets/svg/groupLogo.svg" class="svg-icon" alt="">
        </a>
        <div class="collapse" id="collapseExample">
          <li *ngFor="let group of this.groups">
            <a (click)="navigateToHomeGroupID(group.id)"  class="w3-bar-item w3-button">{{group.groupName}}</a>
          </li>
        </div>
      </li>
      <li>
        <a  (click)="navigateToTasks()" class="w3-bar-item w3-button">
          <img src="../../../assets/svg/tasksLogo.svg" class="svg-icon" alt="">
        </a>
      </li>
      <li>
        <a (click)="navigateToGroceries()"class="w3-bar-item w3-button">
          <img src="../../../assets/svg/groceriesLogo.svg" class="svg-icon" alt="">
        </a>
      </li>
      <li>
        <a (click)="navigateToExpenses()" class="w3-bar-item w3-button">
          <img src="../../../assets/svg/expensesLogo.svg" class="svg-icon" alt="">
        </a>
      </li>
      <li>
        <app-group-creation></app-group-creation>
      </li>
    </div>
  </ul>
</div> 
-->
<!--
<div>
  <div class="area w3-sidebar w3-white w3-xxlarge"></div>
  <nav class="main-menu">
    <ul>
      <li class="has-subnav">
        <a  data-toggle="collapse" href="#collapseExample" role="button"
          aria-expanded="false" aria-controls="collapseExample">
          <img src="../../../assets/svg/barsIconBlue.svg" class="svg-icon fa fa-laptop fa-2x" alt="">
          <span class="nav-text">
            Mi grupo
          </span>
        </a>
        <div class="collapse" id="collapseExample">
          <li *ngFor="let group of this.groups">
            <a   class="w3-bar-item w3-button">{{group.groupName}}</a>
          </li>
        </div>
      </li>
      
      
      <li class="has-subnav">
        <a  (click)="navigateToGroceries()">
          <img src="../../../assets/svg/compraIconBlue.svg" class="svg-icon fa fa-laptop fa-2x" alt="">
          <span class="nav-text">
            Lista de la compra
          </span>
        </a>

      </li>
      <li class="has-subnav">
        <a (click)="navigateToTasks()">
          <img src="../../../assets/svg/tasksIconBlue.svg" class="svg-icon fa fa-laptop fa-2x" alt="">
          <span class="nav-text">
            Lista de tareas
          </span>
        </a>

      </li>
      <li>
        <a  (click)="navigateToExpenses()">
          <img src="../../../assets/svg/expenseIconBlue.svg" class="svg-icon fa fa-laptop fa-2x" alt="">
          <span class="nav-text">
            Lista de gastos
          </span>
        </a>
      </li>
      <li style="margin-bottom: 1px;">
        <a>
        <app-group-creation></app-group-creation>
        <span class="nav-text">
          Añadir grupo
        </span>
      </a>
      </li>
    </ul>

  </nav>
</div>-->
