<div class="w3-sidebar w3-white w3-xxlarge" style="width: max-content">
  <ul class="nav nav-pills flex-column mb-auto">
    <div class="d-flex flex-column">
      <li>
        <a class=" w3-button w3-bar-item" data-toggle="collapse" href="#collapseExample" role="button"
          aria-expanded="false" aria-controls="collapseExample">
          <img src="../../../assets/svg/groupLogo.svg" class="svg-icon" alt="">
        </a>
        <div class="collapse" id="collapseExample">
      <li *ngFor="let group of this.groups">
        <a (click)="navigateToHomeGroupID(group.id)" class="w3-bar-item w3-button">{{group.groupName}}</a>
      </li>
    </div>
    </li>
    <li>
      <a (click)="navigateToTasks()" class="w3-bar-item w3-button">
        <img src="../../../assets/svg/tasksLogo.svg" class="svg-icon" alt="">
      </a>
    </li>
    <li>
      <a (click)="navigateToGroceries()" class="w3-bar-item w3-button">
        <img src="../../../assets/svg/groceriesLogo.svg" class="svg-icon" alt="">
      </a>
    </li>
    <li>
      <a (click)="navigateToExpenses()" class="w3-bar-item w3-button">
        <img src="../../../assets/svg/expensesLogo.svg" class="svg-icon" alt="">
      </a>
    </li>
    <li>
      <app-group-creation></app-group-creation>
    </li>
</div>
</ul>
</div>
