<div class="container py-5">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-12 col-md-8 col-lg-6 p-0">
      <div class="card card-login text-black shadow-lg rounded">
        <div class="card-body text-center">
          <div class="mb-5 mt-1 pb-2">
            <img src="../../../assets/images/homies-logo.png" alt="" style="width: 150px" class="m-5 rounded" />
            <form [formGroup]="this.recoveryFormEmail" (ngSubmit)="submitForm()" class="" *ngIf="!this.key">
              <div class="d-flex flex-column col-10 m-auto justify-content-center">
                <p>Introduce el email con el que estás registrado</p>
                <!--EMAIL-->
                <div class="form-outline form-white mb-4">
                  <div class="input-group">
                    <!-- Icono Email -->
                    <div class="input-group-text">
                      <img src="../../../../assets/svg/email.svg" class="svg-icon" alt="">
                    </div>
                    <input id="email" type="email" name="email" formControlName="email"
                      class="fields form-control is-invalid normal-border" placeholder="Email" [ngClass]="{
                                                'is-invalid':
                                                  this.emailSent && this.recoveryFormEmail.controls.email.errors
                                              }" />
                    <!--Validation-->
                    <div class="invalid-feedback mt-1" *ngIf="
                                        this.emailSent &&
                                        this.recoveryFormEmail.controls.email.errors?.required
                                      ">
                      ¡Tienes que rellenar este campo!
                    </div>
                    <div class="invalid-feedback" *ngIf="
                                        this.emailSent &&
                                        this.recoveryFormEmail.controls.email.errors?.email
                                      ">
                      ¡Tienes que introducir un email!
                    </div>
                  </div>
                </div>

                <button type="submit" value="enviar" class="btn formButton btn-lg px-5 text-uppercase mt-3 text-white">
                  <span class="spinner-border spinner-border-sm mr-1" *ngIf="isLoading"></span>
                  Enviar
                </button>

              </div>
            </form>
            <form [formGroup]="this.recoveryForm" (ngSubmit)="submitForm1()" class="" *ngIf="this.key">
              <div class="d-flex flex-column col-10 m-auto justify-content-center">
                <p>Introduce la nueva contraseña</p>


                <!-- PASSWORD RESET -->
                <div class="form-outline mb-4">
                  <div class="input-group">
                    <!-- ICONO CANDADO -->
                    <div class="input-group-text">
                      <img src="../../../../assets/svg/password.svg" class="svg-icon" alt="">
                    </div>
                    <input id="pass" type="password" name="pass" formControlName="password"
                      placeholder="Contraseña nueva" [type]="showPassword ? 'text' : 'password'"
                      class="fields form-control password-field is-invalid" [ngClass]="{
                                        'is-invalid':
                                          this.passwordSent
                                      }" />
                    <!-- ICONO NO SEE -->
                    <div class="input-group-text no-see">
                      <img src="../../../../assets/svg/eye-off.svg" class="svg-icon eye-off" alt="" (click)="showPass()"
                        *ngIf="!this.showPassword">
                      <img src="../../../../assets/svg/eye.svg" class="svg-icon eye" alt="" (click)="showPass()"
                        *ngIf="this.showPassword">
                    </div>
                    <!--Validation-->
                    <div class="invalid-feedback" *ngIf="
                                      this.passwordSent &&
                                        this.recoveryForm.controls.password.errors?.required
                                      ">
                      ¡Tienes que rellenar este campo!
                    </div>
                    <div class="invalid-feedback" *ngIf="
                                      this.passwordSent &&
                                        this.recoveryForm.controls.password.errors?.minlength
                                      ">
                      La contraseña debe tener al menos 8 caracteres
                    </div>
                  </div>
                </div>

                <!-- PASSWORD CONFIRMATION -->
                <div class="form-outline mb-4">
                  <div class="input-group">
                    <!-- ICONO CANDADO -->
                    <div class="input-group-text">
                      <img src="../../../../assets/svg/password.svg" class="svg-icon" alt="">
                    </div>
                    <input id="passConfirm" type="password" name="passConfirm" formControlName="passConfirm"
                      class="fields form-control password-field is-invalid" placeholder="Repetir la contraseña"
                      [type]="showPassword ? 'text' : 'password'" [ngClass]="{
                                        'is-invalid':
                                          this.passwordSent
                                      }" />
                    <!-- ICONO NO SEE -->
                    <div class="input-group-text no-see">
                      <img src="../../../../assets/svg/eye-off.svg" class="svg-icon eye-off" alt="" (click)="showPass()"
                        *ngIf="!this.showPassword">
                      <img src="../../../../assets/svg/eye.svg" class="svg-icon eye" alt="" (click)="showPass()"
                        *ngIf="this.showPassword">
                    </div>
                    <div class="invalid-feedback" *ngIf="
                                      this.passwordSent &&
                                      this.recoveryForm.controls.passConfirm.errors?.required
                                    ">
                      ¡Tienes que rellenar este campo!
                    </div>
                    <div class="invalid-feedback" *ngIf="this.passwordSent && recoveryForm.errors?.noMatch">
                      Las contraseñas no coinciden
                    </div>
                  </div>
                  <!--Validation-->
                </div>
                <button type="submit" value="enviar" class="btn formButton btn-lg px-5 text-uppercase mt-4 text-white">
                  <span class="spinner-border spinner-border-sm mr-1" *ngIf="isLoading"></span>
                  Enviar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
