<div class="container text-center mt-5">
    <img src="" class="" alt="">
    <span class="dot"><h2 class="initial center">HG</h2></span>
    <div class="buttonEdit">
        <div class="file-select">
            <input type="file" name="imageProfile" accept="image/png, image/jpeg">
        </div>
    </div>
    <div class="mb-5 mt-1 pb-2">
        <form [formGroup]="userForm">
            <div class="d-flex flex-column col-10 m-auto justify-content-center">
              <!--USER-->
              <div class="form-outline form-white mb-4">
                <div class="input-group">
                  <!-- Icono Usuario -->
                  <div class="input-group-text ">
                      <img src="../../../assets/svg/username.svg" class="svg-icon" alt="">
                  </div>
                  <input
                    id="username"
                    type="text"
                    name="username"
                    formControlName="username"
                    class="fields form-control normal-border"
                    placeholder="{{this.username}}"
                  />
                </div>
              </div>
    
              <!--NAME-->
              <div class="form-outline form-white mb-4">
                <div class="input-group">
                  <!-- Icono Usuario -->
                  <div class="input-group-text">
                    <img src="../../../assets/svg/username.svg" class="svg-icon" alt="">
                  </div>
                  <input
                    id="name"
                    type="text"
                    name="name"
                    formControlName="name"
                    class="fields form-control normal-border"
                    placeholder="{{this.name}}"
                  />
                </div>
              </div>

              <!--SURNAME-->
              <div class="form-outline form-white mb-4">
                <div class="input-group">
                  <!-- Icono Usuario -->
                  <div class="input-group-text">
                    <img src="../../../assets/svg/username.svg" class="svg-icon" alt="">
                  </div>
                  <input
                    id="surname"
                    type="text"
                    name="surname"
                    formControlName="surname"
                    class="fields form-control normal-border"
                    placeholder="{{this.surname}}"
                  />
                </div>
              </div>

              <!--EMAIL-->
              <div class="form-outline form-white mb-4">
                <div class="input-group">
                  <!-- Icono Usuario -->
                  <div class="input-group-text">
                    <img src="../../../assets/svg/email.svg" class="svg-icon" alt="">
                  </div>
                  <input
                    id="email"
                    type="text"
                    name="email"
                    formControlName="email"
                    class="fields form-control normal-border"
                    placeholder="{{this.email}}"
                  />
                </div>
              </div>

              <button
                class="btn formButton btn-lg px-5 text-uppercase mt-4 text-white"
                type="submit"
                value="enviar"
              >
                <span class="spinner-border spinner-border-sm mr-1" hidden></span>
                Guardar cambios
              </button>
            </div>
        </form>
        <button type="button" class="btn btn-danger btn-lg px-5 text-uppercase mt-4 text-white">
            Eliminar cuenta
        </button>
    </div>
</div>
