.nav-tabs {
  border-bottom: 1px solid #34ade7;
}

a {
  color: #34ade7;
  text-decoration: none;
  background-color: transparent;
}

.nav-link.active {
  color: #495057;
  background-color: #fff;
  border-color: #34ade7 #34ade7 #fff;
}

.payment-user {
  font-size: 0.9rem;
}

.payment-date{
  font-size: 0.7rem;
}

.expenses {
  background: rgba(52, 173, 231, 0.07);
  padding: 10px;
  border-radius: 15px;
}

.balances {
  background: rgba(255,240,240,255);
  padding: 10px;
  border-radius: 15px;
  height: 85.25px;
}
.balances-payed {
  background: rgba(110, 223, 121, 0.06);
  padding: 10px;
  border-radius: 15px;
  height: 85.25px;
}

@media (max-width: 776px) {
  .balances {
    height: 105.5px;
  }
}

