<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class="w3-sidebar w3-white w3-xxlarge" style="width: max-content;">
        <ul class="nav nav-pills flex-column mb-auto">
            <li>
                <a href="#" class="w3-bar-item w3-button"><i class="fa fa-users"></i></a>
            </li>
            <li>
                <a href="/tasks"  class="w3-bar-item w3-button"><i class="fa fa-calendar"></i></a>
            </li>
            <li>
                <a href="/groseries" class="w3-bar-item w3-button"><i class="fa fa-shopping-cart"></i></a>
            </li>
            <li>
                <a href="/expenses" class="w3-bar-item w3-button"><i class="fa fa-money"></i></a>
            </li>
        </ul>
    </div>
    <script src="/docs/5.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="sidebars.js"></script>
