<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>

<div class="w3-sidebar w3-white w3-xxlarge" style="width:70px">
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-users" aria-hidden="true"></i></a> 
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-calendar" aria-hidden="true"></i></a> 
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-money" aria-hidden="true"></i></a> 
</div>


