/* You can add global styles to this file, and also import other style files */

:root {
  --primaryColor: #ffffff;
  --primaryLightColor: #ffffff;
  --primaryDarkColor: #cccccc;
  --secondaryColor: #34ade7;
  --secondaryLightColor: #61d4ff;
  --secondaryDarkColor: #0074ab;
  --primaryTextColor: #000000;
  --secondaryTextColor: #000000;
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
}


a {
  cursor: pointer;
}

.card-login {
  background-color: var(--primaryColor);
  border-radius: 0.5rem;
}

.formButton {
  background-color: var(--secondaryColor);
}
.formButton:hover {
  background-color: rgba(97, 212, 255, 0.8);
}
input {
  background-color: rgba(97, 212, 255, 0.2);
  font-size: 1.2rem;
  border: none;
  border-radius: 0 5px 5px 0;
}

input:focus {
  background-color: rgba(97, 212, 255, 0.2);
  font-size: 1.2rem;
  border: none;
}

.form-control.is-invalid.normal-border {
  border-radius: 0 5px 5px 0 !important;
}

.help {
  color: var(--secondaryColor);
}
i {
  color: var(--secondaryColor);
}

.input-group-text {
  background-color: rgba(97, 212, 255, 0.2);
  border: 0ch;
  border-radius: 5px 0 0 5px;
}

.no-see {
  border-radius: 0 5px 5px 0 !important;
}

.password-field {
  border-radius: 0ch !important;
}

