
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Añade a un usuario nuevo</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true"> × </span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="this.groupForm">
        <div class="form-group">
          <label for="groupName"> Login del usuario * </label>
          <div class="input-group">
            <div class="input-group-text">
              <img src="../../../assets/svg/groupLogo.svg" class="svg-icon" alt="" />
            </div>
            <input id="groupName" class="form-control " placeholder="Nombre" formControlName="login" name="dp"
              [ngClass]="{
                'is-invalid':
                  (this.groupForm.controls.login.touched &&
                    this.groupForm.controls.login.errors?.required) ||
                  this.groupForm.controls.login.errors?.minlength ||
                  this.groupForm.controls.login.errors?.maxlength
              }" />

            <!-- Validation -->
            <div class="invalid-feedback" *ngIf="this.groupForm.controls.login.errors?.required">
              ¡Tienes que rellenar este campo!
            </div>

          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn dashboard-button-modal text-white" (click)="modal.close('Save click')" [ngClass]="{
          disabled: !this.groupForm.valid
        }" [disabled]="!this.groupForm.valid">
        Añadir
      </button>
    </div>
  </ng-template>
  <button class="btn-sm border-0 p-2 m-2 dashboard-button text-white"(click)="open(content)" >Añadir usuario</button>


